.cell {
    border: 1px solid #808080;
    padding: 35px;
}

.tableGrid{
    margin-top: 50px;
}

.row{
    display: flex;
}

#control-panel {
    border-radius: 5px;
    font-size: 20px;
    background-color: #1B1B1B;
    padding: 20px;
    width: 500px;
}

button {
    margin-right: 10px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    border-color: black;
}

label {
    margin-left: 15px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

select {
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    color: #333333;
}
